{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}

<body>
    <div class="container-about">

		<h1 class="centering">The Gift to GGbond in Lover's Day</h1>


        <div class="section">
            <p>Web development is not my field of expertise; it's purely a hobby. If there are any shortcomings, please understand. The design of this website was aided by GPT, but I oversaw the logic and simple UI design. Security has not been rigorously implemented, so please help maintain a safe online environment.</p>
            <p>If you have any question, please don't hesitate to contact me: <a href="mailto:shunq.feng@gmail.com">shunq.feng@gmail.com</a></p>
        </div>

        <div class="section section-content">
            <img src="{{ url_for('static', filename='photo/me.jpg') }}" alt="My Photo">
            <div>
                <h2>About Me</h2>
                <p>I am GGBond's boyfriend. I'm not very talkative, and I want to create this website as a lover's day gift for GGBond.</p>
            </div>
        </div>

        <div class="section section-content">
            <img src="{{ url_for('static', filename='photo/ggbond.jpg') }}" alt="GGbond Photo">
            <div>
                <h2>About GGBond</h2>
                <p>After multiple IELTS attempts, GGBond has yet to succeed, with the listening section being particularly challenging.</p>
            </div>
        </div>

    </div>
</body>
</html>
{% endblock %}