{% extends "base.html" %}

{% block title %}Manage Your Account  - {{ username }}{% endblock %}

{% block content %}

<div style="text-align: center; padding: 20px;">
    <!-- 管理密码表单 -->
    <div>
        <form method="POST">
            <h3>Change Password</h3>
            <div>
                <label for="old_password">Old Password:</label>
                <input type="password" id="old_password" name="old_password" required>
            </div>
            <div>
                <label for="new_password">New Password:</label>
                <input type="password" id="new_password" name="new_password" required>
            </div>
            <div>
                <label for="confirm_password">Confirm New Password:</label>
                <input type="password" id="confirm_password" name="confirm_password" required>
            </div>
            
            <button type="submit" name="change_password">Change Password</button>
        </form>
    </div>
    <br>
    <br>
    <div>
        <!-- 重置学习记录表单 -->
        <form method="POST">
            <h3>Reset Learning Records</h3>
            <label for="reset_chapter">Select Chapter:</label>
            <select id="reset_chapter" name="reset_chapter">
                <option value="all">All Chapters</option>
                {% for chapter, name in word_dic.items() %}
                <option value="{{ chapter }}">Chapter {{ chapter }} - {{ name }}</option>
                {% endfor %}
            </select>
            
            <button type="submit" name="reset_records">Reset Records</button>
        </form>
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash-messages">
                {% for category, message in messages %}
                    <div class="flash-message {{ category }} ; bold-text">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
</div>




{% endblock %}
