{% extends "base.html" %}

{% block title %}Well Done- {{ username }}{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 text-center">
            <h1 class="my-4" style="color: green;">
                <br>
                <br>
                <br>
                {% if mode == 'learn' %}
                    Congratulations, {{ username }}!<br>You've completed all new words for Chapter {{ chapter }}.
                {% elif mode == 'review' %}
                    Great job, {{ username }}!<br>You've completed reviewing all wrong words for Chapter {{ chapter }}.
                {% else %}
                    Well done, {{ username }}!<br>You've completed this section.
                {% endif %}
            </h1>
            <a href="{{ url_for('home', username=username) }}" class="btn btn-primary mt-3">Back to Home</a>
        </div>
    </div>
</div>
{% endblock %}
